@import '../../../../styles.scss';


.mat-card{
    text-align: center;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}

.btn-add{
    background-color:rgb(3, 59, 73) ;
    color:white;
    padding: 6px;
    border: none;
}